<mat-toolbar>
  <button
    type="button"
    mat-button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>CRUD-V1</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <p routerLink="auth">Auth</p>
    <p routerLink="users">Users</p>
    <p routerLink="posts">Posts</p>
    <p routerLink="comments">Comments</p>
  </mat-drawer>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
