<mat-toolbar>
  <button
    type="button"
    mat-button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>CRUD-V1</span>

  <div style="margin-left: auto">
    <span>Hello {{ userEmail$ | async }}</span
    >&nbsp;
    <button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <p routerLink="auth">Auth</p>
    <p routerLink="users" routerLinkActive="active-route">Users</p>
    <p routerLink="posts" routerLinkActive="active-route">Posts</p>
    <p routerLink="comments" routerLinkActive="active-route">Comments</p>
  </mat-drawer>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
